body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    border-color: aliceblue;
}
.material-symbols-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr  ;
    grid-template-rows:0.2fr 1fr ;
    grid-template-areas:
      /* first grid row contains four columns those are */
       "sidebar header"
    /* second grid row containing */
       " sidebar main ";
    height: 100vh;
    position: fixed; 
    width: 100%;
}
.header{
    grid-area:header;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.menu-icon{
    display: none;
    cursor: pointer;
}

#close{
    cursor: pointer;
}

#sidebar{
    grid-area: sidebar;
    height:100%;
    background-color: rgb(73, 85, 139);
    color:rgb(214, 173, 173) ;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display:none;
}

.sidebar-brand{
    margin-top:15px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar-brand > .material-symbols-outlined {
font-size: 50px;
}

.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    /* color:(180,184,244); */
    color: aliceblue;
}

.sidebar-reesponsive{
    display: inline !important;
    position:absolute;
}

.main-container{
    grid-area:main;
    overflow-y: auto;
    padding: 20px 20px;
    background-color:white;

}

.main-title{
 text-align: center;
}
#dashboard{
    text-align: center;
}
#recently_viewed{
    text-align: right;
}

.card{
    padding: 20px 30px 20px 30px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex:1;
    border:1px solid black;
    box-shadow: 8px grey;
}
.card-describtion{
    width: 100%;
    height:50%;
    padding: 10px;
    margin-top: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 23px;
    
}

.card-button{
    width:30%;
    height:65%;
    padding: 10px;
    margin-top: 17px;
    color: gray;
     /* border:1px solid #888;
    border-radius: 10%; */
 }  

.products{
    display: flex;
    flex-direction: column;
    height:100%;
    text-size-adjust:auto;
} 

@media screen and (max-width: 992px){
    
    .menu-icon{
        display: inline;
    }
    #sidebar{
        width: 250px; 
        position: fixed;
        top: 0;
        left: -250px;
        transition: all 0.3s ease-in-out;
        background-color: rgb(73, 85, 139);
        color: rgb(214, 173, 173);
        overflow-y: auto;
    }
    .sidebar-title > span{
        display: inline;
    }  
    .grid-container{
        position: fixed;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-template-areas: 
        'header'
        'main';
    }
}
   
@media screen  and (max-width: 768px){
    .products{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .grid-container{
        position: fixed;
    }
}
@media screen and (max-width: 576px) {
    .header-left{
        display: none;
    }
    .grid-container{
        position: fixed;
    }
    
}
